html, body{
    margin: 0;
    padding: 0;
}

#title_bar {
    background-color: rgb(255, 215, 0);
    overflow: hidden;
    height: 90px;
}

#title_bar ul{
    list-style-type: none;
    padding-inline-start: 0;
}

#title_bar li{
    font-family: serif;
    display: inline-block;
    color: black;
    margin: 20px;
}

#title_bar li a{
    font-family: sans-serif;
}

#header a:hover{
    font-size: 1em;
    opacity: 50%;
}  

#header{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 50px;
}

li a{
    text-decoration: none;
    color: black;
    text-align: right;
}

li a:hover{
    font-size: 1.25em;
}

#content{
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    margin: 0px 20px;
    padding: 45px;
}
    

#content #intro{
    font-size: 10em;
    font-weight: bold;
}

#menu{
    margin: 0px;
    padding: 30px 100px;
    background-color: lightyellow;
}

#menu ul{
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}

#menu ul li{
    font-family: sans-serif;
    font-size: large;
    color: black;
    margin: 20px;
}

#menu li a{
    font-family: serif;
    font-size: 1.2em;
    color: gold;
}

#menu li a:hover{
    font-size: 1.5em;
}


/* bread_omelette page */

#name{
    font-size: 3.9em;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* h1 left, image right */
    align-items: flex-start;       /* align tops together */
    padding: 80px;
}
